.button{
  display: flex;
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
}